<section id="projects" class="projects-section">
  <h2 class="projects-section-header">There are some of my projects</h2>
  <div class="projects-grid">
    <ng-container *ngFor="let project of projects">
      <a [href]="project.projectLink" target="_blank" class="project project-title">
        <img class="project-image" [src]="project.imageSrc" [alt]="project.title" />
        <h3 class="project-title">
          <span class="code">&lt;</span>
          {{ project.title }}
          <span class="code">&#47;&gt;</span>
        </h3>
        <p class="project-description">
          {{ project.description }}
        </p>
      </a>
    </ng-container>
  </div>
  <a [href]="githubLink" class="btn btn-show-all" target="_blank">
    Show all
    <i class="fas fa-chevron-right"></i>
  </a>
</section>