/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: var(--main-dark);

  h1,
  p {
    opacity: 0;
    transform: translateY(-20px);
  }

  h1 {
    animation: fadeIn 1.5s ease-in-out forwards;
  }

  .job-title {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
  }

  .skills {
    font-size: 2rem;
    font-weight: 150;
    color: var(--main-white);
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    position: relative;
  }
  
  .text-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    animation: typingText 6s steps(40) forwards;
  }
  
  .cursor {
    display: inline-block;
    vertical-align: top;
    animation: blinkCursor 0.5s step-end infinite;
  }
  
}

.profile-photo {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  border: 2px solid #0e76a8; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
  object-fit: cover;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  
@keyframes typingText {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
