<section id="contact" class="contact-section">
  <div class="contact-section-header">
    <h2>
      <span>Let's</span>
      <span>work</span>
      <span>together</span>
    </h2>
    <blockquote>"Collaboration is the heartbeat of innovation. Let's join forces to turn your ideas into remarkable
      realities."</blockquote>
  </div>
  <div class="contact-links">
    <ng-container *ngFor="let contactLink of contactLinks">
      <a [href]="contactLink.link" target="_blank" class="btn contact-details">
        <i [class]="contactLink.icon"></i>
        {{ contactLink.type }}
      </a>
    </ng-container>
  </div>
</section>